@if (TempData["Success"] != null)
{
    <div class="alert alert-success">
        @TempData["Success"]
    </div>
}
@if (TempData["Delete"] != null)
{
    <div class="alert alert-danger">
        @TempData["Delete"]
    </div>
}