@model PcMarket.Models.Contact
@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers
<head>
    <meta charset="utf-8">
    <script src="~/lib/twitter-bootstrap/js/bootstrap.js"></script>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <style>
        body {
            font-family: Arial, Helvetica, sans-serif;
        }

        * {
            box-sizing: border-box;
        }

        /* Style inputs */
        input[type=text], select, textarea {
            width: 100%;
            padding: 12px;
            border: 1px solid #ccc;
            margin-top: 6px;
            margin-bottom: 16px;
            resize: vertical;
        }

        input[type=submit] {
            background-color: #4CAF50;
            color: white;
            padding: 12px 20px;
            border: none;
            cursor: pointer;
        }

            input[type=submit]:hover {
                background-color: #45a049;
            }

        .column {
            float: left;
            width: 50%;
            margin-top: 6px;
            padding: 20px;
        }
    </style>
</head>
<body>
    <div class="container">
        <div style="text-align:center">
            <a href="https://www.facebook.com/3243243432sfd324/" target="_blank"><img src="~/images/facebook.png" width="50" height="50"/><h3>გამოგვყევი Facebook ზე</h3></a>
        </div>
        <div class="row">
            <div class="column">
                <div style="text-align:center">
                    <h2>მისამართი</h2>
                    <h3>ქალაქი , თქვენი მისამართი N28</h3>
                    <p><img src="~/images/telephone.png" width="20" height="20" />+995 579 025 090</p>
                    <p><img src="~/images/gmail.png" width="20" height="20" />  Infopcmarketgeo@gmail.com</p>
                </div>
                <img src="/images/mymap.png" style="width:100%">
            </div>
            <div class="column">
                <form asp-controller="pcpart" asp-action="contact" method="post" class="mt-3">
                    <div class="col-sm-10">
                        <label asp-for="FirstName">სახელი</label>
                        <span asp-validation-for="FirstName" class="text-danger"></span>
                        <input type="text" asp-for="FirstName" class="form-control" placeholder="თქვენი სახელი..">
                    </div>
                    <div class="col-sm-10">
                        <label asp-for="LastName">გვარი</label>
                        <span asp-validation-for="LastName" class="text-danger"></span>
                        <input type="text" asp-for="LastName" class="form-control" placeholder="თქვენი გვარი..">
                    </div>
                    <div class="col-sm-10">
                        <label asp-for="Mail">ელ-ფოსტა</label>
                        <span asp-validation-for="Mail" class="text-danger"></span>
                        <input type="text" asp-for="Mail" class="form-control" placeholder="ელ-ფოსტა..">
                    </div>
                    <div class="col-sm-10">
                        <label asp-for="Title">სათაური</label>
                        <span asp-validation-for="Title" class="text-danger"></span>
                        <input type="text" asp-for="Title" class="form-control" placeholder="სათაური..">
                    </div>
                    <div class="col-sm-10">
                        <label asp-for="Subject">ტექსტი</label>
                        <span asp-validation-for="Subject" class="text-danger"></span>
                        <textarea asp-for="Subject" class="form-control" placeholder="შეტყობინება.." style="height:170px"></textarea>
                    </div>
                        <div class="form-group row">
                            <div class="col-sm-10">
                                <button type="submit" class="btn btn-primary">გაგზავნა</button>
                                
                            </div>
                        </div>
                </form>
            </div>
        </div>
    </div>

</body>
