@model PcMarket.ViewModels.PcPartCreateViewModel
@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers
@{
    ViewBag.Title = "Create Part";
}
<head>
    <meta charset="utf-8">
    <script src="~/lib/twitter-bootstrap/js/bootstrap.js"></script>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
</head>
<form asp-controller="pcpart" asp-action="create" enctype="multipart/form-data" method="post" class="mt-3">
    <div class="form-group row">
        <label asp-for="PartName" class="col-sm-2 col-form-label"></label>
        <div class="col-sm-10">
            <input asp-for="PartName" class="form-control" />
            <span asp-validation-for="PartName" class="text-danger"></span>
        </div>
    </div>
    <div class="form-group row">
        <label asp-for="PartPrice" class="col-sm-2 col-form-label"></label>
        <div class="col-sm-10">
            <input asp-for="PartPrice" class="form-control" />
            <span asp-validation-for="PartPrice" class="text-danger"></span>
        </div>
    </div>
    <div class="form-group row">
        <label asp-for="PartCategory" class="col-sm-2 col-form-label"></label>
        <div class="col-sm-10">
            <select asp-for="PartCategory" class="custom-select mr-sm-2"
                    asp-items="@Html.GetEnumSelectList<PcMarket.Models.Category>()"></select>
            <span asp-validation-for="PartCategory" class="text-danger"></span>
        </div>
    </div>
    <div class="form-group row">
        <label asp-for="PartCondition" class="col-sm-2 col-form-label"></label>
        <div class="col-sm-10">
            <select asp-for="PartCondition" class="custom-select mr-sm-2"
                    asp-items="@Html.GetEnumSelectList<PcMarket.Models.Condition>()"></select>
            <span asp-validation-for="PartCondition" class="text-danger"></span>
        </div>
    </div>
    <div class="form-group row">
        <label asp-for="ImageFile" class="col-sm-2 col-form-label"></label>
        <div class="col-sm-10">
            <input asp-for="ImageFile" accept="image/*" />
            <span asp-validation-for="ImageFile" class="text-danger"></span>
        </div>
    </div>
    <div class="form-group">
        <label asp-for="PartDescribtion" class="col-sm-2 col-form-label">აღწერა </label>
        <div class="col-sm-10">
            <textarea asp-for="PartDescribtion" class="form-control"></textarea>
            <span asp-validation-for="PartDescribtion" class="text-danger"></span>
        </div>
    </div>
    <div class="form-group row">
        <div class="col-sm-10">
            <button type="submit" class="btn btn-primary">განხადების დამატება</button>
            <button type="button" class="btn btn-primary" onclick="window.history.go(-1)">უკან</button>
        </div>
    </div>
</form>