@model IEnumerable<PcMarket.Models.PcPartProp>
@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers
@{
    ViewBag.Title = "Employee List";
}<head>
    <meta charset="utf-8">
    <script src="~/lib/twitter-bootstrap/js/bootstrap.js"></script>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
</head>
<div class="card-deck">
    @foreach (var employee in Model)
    {
        <div class="card m-3">
            <div class="card-header">
                <h4>პროდუქტის დასახელება</h4>
                <h3>@employee.PartName</h3>
            </div>
            <img class="card-img-top" src="~/images/notimage.png" width="276" height="130" />
            <div class="card-footer text-center">
                <a asp-controller="pcpart" asp-action="details" asp-route-id="@employee.ID">სრულად</a>
                <a asp-controller="pcpart" asp-action="edit" asp-route-id="@employee.ID">ჩასწორება</a>
                <a asp-controller="pcpart" asp-action="delete" asp-route-id="@employee.ID">წაშლა</a>
            </div>
        </div>
    }
</div>
